.change_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.change_modal .inp{
    margin-top: 10px;
    width: 40vw;
}

.change_modal .but{
    margin-top: 10px;
}
