.span_create_event_button{
    padding-left: 0.75rem;
    padding-right: 1.75rem;
}

.button_create_event_button{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 9999px;
    border: 1px none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
}

.create_event{
    width: 25px;
    height: 25px;
}

.button_create_event_button:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
