.crusel{
    display: flex;
    align-items: flex-start;
}

.helf3{
    color: #05073a;
    font-size: 3vw;
}

.parag {
    color: #05073a;
    font-size: 1vw;
}

.slider_container {
    height: 90vh;
    overflow: hidden;
}

.slider_img {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {

    .helf3 {
        font-size: 30px;
    }

    .parag {
        font-size: 10px;
    }
}