h3{
    color: #05073a;
    font-size: 3vw;
}

p {
    color: #05073a;
    font-size: 1vw;
}

.slider_container {
    height: 90vh; /* 100% высоты экрана */
    overflow: hidden;
}

.slider_img {
    width: 100%; /* Занимает 100% ширины родительского контейнера */
    height: auto; /* Автоматическое вычисление высоты, чтобы поддерживать пропорции */
    position: absolute; /* Абсолютное позиционирование внутри родительского контейнера */
    top: 50%; /* Размещаем изображение по вертикали по центру блока-родителя */
    left: 50%; /* Размещаем изображение по горизонтали по центру блока-родителя */
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 10px;
    }
}