header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}
header img{
    margin-right: 2px;
    width: 3rem;
    height: 3rem;
    display: block;
    vertical-align: middle;
}

header h1 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    margin-right: 2.5rem;
    margin-left: 2vw;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: inherit;
}

.ml-auto{
    margin-left: auto;
    color: black;
}

.admin_button{
    margin-right: 2vw;
}


