.header_navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}
header img{
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: middle;
}


.curic {
    color: #05073a;
    margin: 0.9vh 2vw 0.9vh 1vw;
    font-size: 15px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.nav-buttons{
    margin-left: auto;
}

.admin_button{
    --bs-btn-padding-y: 7px;
    --bs-btn-font-size: 15px;
}

.button-text{
    color: #0a0d6e;
    font-size: 15px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.admin_button{
    margin-right: 30px;
}


