header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}
header img{
    width: 2vw;
    height: 2vw;
    display: block;
    vertical-align: middle;
}

header h1 {
    color: #05073a;
    margin: 0.9vh 2vw 0.9vh 1vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.ml-auto{
    margin-left: auto;
    color: black;
}

.admin_button{
    margin-right: 2vw;
}


