.popup-card {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 320px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.button-close{
    justify-content: right;
}

.notification-header{
    display: flex;
}

.qwertyuiop{
    justify-content: left;
}