.Calendar {
    text-align: center;
}

.calendar_class{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.calendar_header1{
    display: flex;
    align-items: start;
    width: 100%;
}

@media (max-width: 1000px) {
    .calendar_header1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }
}
