body {
    margin: 0;
    line-height: inherit;
}

body {
    --google-font-color-materialiconstwotone: none;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: "Open Sans", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
}
div {
    display: block;
}